/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$headings-color: #444;

@import "bootstrap";

body {
  background-color: #22719f;
}

h3 {
  color: #FFF;
  display: inline-block;
  float: left;
}

#add-member-div {
  float: left;
  margin: 10px 0 10px 10px;
}

.navbar-default {
  border: none;
  background-color: #1e628a;

  .navbar-brand {
    color: #6292ae;
  }
}

.list-header {
  h4 {
    display: inline-block;
    float: left;
  }

  .glyphicon {
    display: none;
    float: right;
    color: #999;
    position: relative;
    top: 7px;
    left: 7px;
  }
}



.new-card h4 {
  text-align: center;
}

.card-form input {
  margin: 5px 0;
}

.cards {
  margin-bottom: 15px;
}

.card-show {
  width: 230px;
  background-color: #FFF;
  border-radius: 5px;
  margin: 5px auto 0 auto;
  border-bottom: 1px solid #bdbdbd;

  h4 {
    display: inline-block;
    margin: 5px 0 5px 5px;
    padding: 5px;
  }

  .glyphicon {
    display: none;
    float: right;
    color: #999;
    position: relative;
    top: 7px;
    left: -7px;
  }
  .glyphicon.glyphicon-show {
    display: none;
  }
}

.card-form {
  // display: none;
}

.sortable-card {
  min-height: 100px;
}


.list {
  background-color: #dbdbdb;
  border-radius: 5px;
  width: 250px;
  margin: 20px 8px;
  float: left;
}
