<div class="row">
  <div class="col-md-12">
    <h3><%= board.escape('title') %></h3>

    <div id="add-member-div">
      <button class="btn btn-primary" id="add-member">Add a member</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" id="new-board-list"></div>
</div>

<div id="all-lists" class="sortable-list"></div>
