
  <div class="row">
    <div class="list-header col-sm-12">
      <h4><%= list.escape('rank') %> <%= list.escape('title') %></h4>
      <span data-id="<%= list.id %>" class="remove-list glyphicon glyphicon-remove"></span>
    </div>
  </div>
  <div class="new-card row">
  </div>

  <div class="cards row sortable-card"></div>
