
<div class="list">
  <h4><%= list.escape('rank') %> <%= list.escape('title') %></h4>
  <button data-id="<%= list.id %>" class="remove-list">
    <span data-id="<%= list.id %>" class="remove-list glyphicon glyphicon-remove"></span>
  </button>
</div>
