
<h4>Add new card</h4>

<form class="card-form">
  <input type="hidden" name="card[list_id]" value="<%= list.id %>" />
  <input class="form-control" name="card[title]" />
  <textarea class="form-control" name="card[description]">Description</textarea>
  <input class="form-control" name="card[rank]" />
  <input type="submit" class="submit-card btn btn-primary pull-right" value="Create Card" />
</form>
